$brand-colour-blue-50: mix($brand-colour-blue, $white, 13%);
$brand-colour-blue-100: mix($brand-colour-blue, $white, 31%);
$brand-colour-blue-200: mix($brand-colour-blue, $white, 50%);
$brand-colour-blue-300: mix($brand-colour-blue, $white, 70%);
$brand-colour-blue-400: mix($brand-colour-blue, $white, 85%);
$brand-colour-blue-500: mix($brand-colour-blue, $white, 100%);
$brand-colour-blue-600: mix($brand-colour-blue, $black, 91%);
$brand-colour-blue-700: mix($brand-colour-blue, $black, 81%);
$brand-colour-blue-800: mix($brand-colour-blue, $black, 71%);
$brand-colour-blue-900: mix($brand-colour-blue, $black, 52%);

$brand-colour-gold-50: mix($brand-colour-gold, $white, 13%);
$brand-colour-gold-100: mix($brand-colour-gold, $white, 31%);
$brand-colour-gold-200: mix($brand-colour-gold, $white, 50%);
$brand-colour-gold-300: mix($brand-colour-gold, $white, 70%);
$brand-colour-gold-400: mix($brand-colour-gold, $white, 85%);
$brand-colour-gold-500: mix($brand-colour-gold, $white, 100%);
$brand-colour-gold-600: mix($brand-colour-gold, $black, 91%);
$brand-colour-gold-700: mix($brand-colour-gold, $black, 81%);
$brand-colour-gold-800: mix($brand-colour-gold, $black, 71%);
$brand-colour-gold-900: mix($brand-colour-gold, $black, 52%);